<div class="flex justify-content-between flex-wrap my-3">
  <div >
    <p-button [outlined]="true" severity="secondary" class="felx align-items-center justify-content-center">
      <span class="font-bold text-black-alpha-90 mr-2">تعديل</span>
      <img src="../../../assets/icons/edit.svg" class="h-1rem"/>
    </p-button>
  </div>
  <div >
    <span class="font-bold">تذكرة رقم #2548</span>
    <button class="w-2rem h-2rem bg-surface-200 border-transparent border-round m-2">
      <i class="pi pi-arrow-right text-black-alpha-80"></i>
    </button>
  </div>
</div>