.charts{
box-sizing: border-box;
background: #FFFFFF;
border: 0.806515px solid #EBEBEB;
border-radius: 8px;

}



.statistic > span{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 13px;
color: #99A1B7;
}